<div class="container mt-3">
    <div class="jumbotron">
        <h1 style="color:rgb(45, 45, 56);">Ingrese los datos del email:</h1>
        <br>

        <form action="/set-correo" method="post">
            
            <div class="form-group">
                <label for="email"><b>Email:</b></label>
                <input id="email" class="form-control" type="email" name="email" required>
            </div>
            <button class="btn btn-success mt-3 mb-5">Enviar</button>

        </form>
    </div>
</div>